{% extends "base.html" %}
{% block content %}
    <style>
        div.note-preview {
            height: 96px;
            padding: 10px;
            margin-left: 1px;
            margin-right: 1px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            word-wrap: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .intro-line h4,
        .intro-line p {
            display: inline;
            vertical-align: top;
            padding-left: 5px;
        }
        div.note-selector {
            border-right: 1px solid black;
            height: 100%;
        }
        #notes-list-header {
            width: 100%;
        }
        #notes-list {
            height: 70%;
        }
        .scrolling {
            overflow-y: auto;
            overflow-x: hidden;
            margin-right: -10px;
        }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/notes.js') }}"></script>
    <div class="row">
        <div class="col-md-3 note-selector">
            <!-- note selector -->
            <div id="notes-list-header">
                <p>Note Selector</p>
                <input type="button" value="New Note" onclick="$scope.createNewNote();" ></input>
                <input type="button" value="Sync" onclick="$scope.syncNotes();" ></input>
                <input type="button" value="Copy Live Note" onclick="$scope.copyLiveNote();" ></input>
                <p>Sort by:&nbsp;
                    <input type="button" value="Title" onclick="$scope.sortNotesByAttr('title');">
                    <input type="button" value="Meta" onclick="$scope.sortNotesByAttr('meta');">
                    <input type="button" value="Content" onclick="$scope.sortNotesByAttr('content');">
                </p>
            </div>
            <div id="notes-list" class="scrolling">
                <!-- example note -->
                <!-- <div class="row note-preview">
                    <div class="intro-line">
                        <h4>Note1</h4>
                        <p> - |preview text with a lot of words behind it. abcdefg hi jklmnopoqnaosdfj no qwerty qwerty qwery qwerty qwerty qwerty qwerty qwerty qwerty|</p>
                    </div>
                </div> -->
                <!-- end example note -->
                {% if vm['notes'] %}
                {% for note in vm['notes'] %}
                <div id="{{ note['_id'] }}" class="row note-preview" onclick="$scope.loadNote( '{{ note['_id'] }}' );">
                    <div class="intro-line">
                        <h4>{{ note['title'] }}</h4>
                        <p> - |{{ note['meta'] }}|{{ note['content'] }}|</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-9 note-editor">
            <script type="text/javascript">
                var title = "";
                var meta = [];
                var content = "";
                {% if vm['notes'] and vm['notes']|length > 0 %}
                var id_ = "{{ vm.notes[0]._id }}";
                // Don't do this. It would require writing out everything as json or something...Load this on first sync, note load, etc
                // var notes = {{ vm['notes'] }};
                $scope.loadNote(id_);
                {% else %}
                var id_ = '567dff3599b4971e04354410';
                {% endif %}

            </script>
            <div style="border-bottom: 1px solid black;">
                <h1>
                    <div id="note-title" class="editable" contenteditable="true" onblur="$scope.saveAllEdits();" style="display: inline;">Note Editor - New Note</div>
                    <div id="saved" style="display: inline;"></div>
                </h1>
            </div>
            <div class="editable" contenteditable="true" onblur="$scope.saveAllEdits();" >
                <h4 id="note-meta" style="border-bottom: 1px solid black; height: 20px; min-width: 20px;">Click here to add meta data</h4>
            </div>
            <p id="note-content" class="editable" contenteditable="true" onblur="$scope.saveAllEdits();"> Click here to begin taking notes</p>
        </div>
    </div>
    <style onload="$scope.syncNotes();"></style>
{% endblock %}