{% extends "base.html" %}
{% block content %}
	<style>
		div.note-preview {
			height: 96px;
			padding: 10px;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			word-wrap: normal;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.intro-line h4,
		.intro-line p {
			display: inline;
			vertical-align: top;
			padding-left: 5px;
		}
		div.note-selector {
			border-right: 1px solid black;
			height: 100%;
		}
		.scrolling {
			overflow-y: auto;
			overflow-x: hidden;
			margin-right: -10px;
		}
	</style>
	
	<div class="row">
		<div class="col-md-3 note-selector">
			<!-- note selector -->
			<p>Note Selector</p>
			<div class="scrolling">
				<div class="row note-preview">
					<div class="intro-line">
						<h4>Note1</h4>
						<p> - |preview text with a lot of words behind it. abcdefg hi jklmnopoqnaosdfj no qwerty qwerty qwery qwerty qwerty qwerty qwerty qwerty qwerty|</p>
					</div>
				</div>
				<div class="row note-preview">
					<h4>Note2<h4>
				</div>
			</div>
		</div>
		<div class="col-md-9 note-editor">
			<script>
				{% if vm['id_'] %}
			    var id_ = {{ vm['id_'] }};
			    {% else %}
			    var id_ = 1;
			    {% endif %}
			</script>
			<div style="border-bottom: 1px solid black;">
				<h1>
					<div id="note-title" class="editable" contenteditable="true" onblur="saveAllEdits()" style="display: inline;">Note Editor - Note Title: Note1</div>
					<div id="saved" style="display: inline;"></div>
				</h1>
			</div>
			<div id="note-meta" class="editable" contenteditable="true" onblur="saveAllEdits()">
				<h4 style="border-bottom: 1px solid black;">Note Meta Data</h4>
			</div>
			<p id="note-content" class="editable" contenteditable="true" onblur="saveAllEdits()"> Note content: preview text with a lot of words behind it. abcdefg hi jklmnopoqnaosdfj no qwerty qwerty qwery qwerty qwerty qwerty qwerty qwerty qwerty</p>
		</div>
	</div>
{% endblock %}